$hippie-blue: hsl(192, 37%, 48%);
$ebony-clay: hsl(240, 21%, 20%);
$manatee: hsl(240, 10%, 57%);
$deluge: hsl(268, 34%, 53%);
$malibu: hsl(192, 90%, 77%);
$mauve: hsl(268, 100%, 86%);
$alabaster: hsl(0, 0%, 98%);

body {
    font-family: 'Red Hat Display', sans-serif;
}